.footer
    .footer-container
        .footer-logo
            img(src="./images/Footer-logo.png" alt="")
        .footer-social
            a(href="#" class="fab fa-facebook-f text-siver") 
            a(href="#" class="fab fa-twitter text-siver") 
            a(href="#" class="fab fa-instagram text-siver") 
            a(href="#" class="fab fa-vimeo-v text-siver") 
            a(href="#" class="fab fa-youtube text-siver") 
        h4.footer-last © 2020 Anymag - All Rights Reserved. 