include ../mixins/mixin
// Head
.head
    .head__button
        .head__button-bar.head__button-bar--top
        .head__button-bar.head__button-bar--center
        .head__button-bar.head__button-bar--bottom
    .head__nav
        .nav
            .nav-logo
                img(src="./images/Menu-logo.png", alt="")
            +menu
    .head__logo
        img(src="./images/Head-logo.png", alt="")
    .head__icon
    .head__cart
        span(class="fas fa-shopping-cart" data-cart="0")
// End-Head
