<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block path 
            //build:css css/styles.min.css 
            link(rel="stylesheet", href="./css/style.css")
            link(rel="stylesheet", href="./css/grid.css")
            //endbuild
            link(rel="stylesheet", href=href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css")
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">        
    body
        .wrapper
            .main
                .main-ovl
                .row
                    - const classCol = ['col-lg-6','col-md-12','col-12']
                    div(class=classCol)
                        .main-left
                         block head 
                            //head - start   
                            include head                
                            //head - end
                            //baner - start 
                            block banner
                            //baner - end
                    div(class=classCol)
                        .main-right
                            block head-icon
                            div(class='head-icon')
                                +icon
                            block slide-home
                            block post-home
                            block travel-home
                            block lastest
                            block pagination
                            block footer 
                        .footer
                            .footer-container
                                .footer-logo
                                    img(src="./images/Footer-logo.png", alt="")
                                .footer-social
                                    a(href="#" class="fab fa-facebook-f text-siver") 
                                    a(href="#" class="fab fa-twitter text-siver") 
                                    a(href="#" class="fab fa-instagram text-siver") 
                                    a(href="#" class="fab fa-vimeo-v text-siver") 
                                    a(href="#" class="fab fa-youtube text-siver") 
                                h4.footer-last © 2020 Anymag - All Rights Reserved.                     
        block side
            .widgets-side
                .widgets-side__button
                .widgets-side__pages   
                    .widgets-side__page
                        .side__pages-img
                            img(src="./images/lifestyle-page.jpg", alt="")
                            a(href="#") lifestyle
                    .widgets-side__page
                        .side__pages-img
                            img(src="./images/travel-page.jpg", alt="")
                            a(href="#") travel
                    .widgets-side__page
                        .side__pages-img
                            img(src="./images/food-page.jpg", alt="")
                            a(href="#") food
                    .widgets-side__page
                        .side__pages-img
                            img(src="./images/fashion-page.jpg", alt="")
                            a(href="#") fashion
                .widgets-side__advertisment
                    .title-parten
                        h4 advertisment
                    .side__advertisment-img
                        img(src="./images/ADVERTISMENT.jpg", alt="")
                .widgets-side__instagram
                     .title-parten
                        h4 instagram
                     .side__instagram-imgs
                        .side__instagram-img
                            img(src="./images/instagram-1.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-2.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-3.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-4.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-5.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-6.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-7.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-8.jpg", alt="")
                        .side__instagram-img
                            img(src="./images/instagram-9.jpg", alt="")
                .widgets-side__newsletter
                    .title-parten
                        h4 newsletter
                    .side__newsletter-content 
                        p sign up to get out latest news!
                        label(for="email" class="form-title") Email Adress
                        input(type="text" class="form-control" id="email" placeholder="Your email address")
                        button SIGN UP 
        block js
            //build:js js/main.min.js 
            script(src="./js/main.js")
            //endbuild