// font-size
$fs1: 12px;
$fs1-1: 1.8rem;
$fs2: 2.2rem; 
$fs3: 2.6rem;
$fs4: 3.3rem;
@include reponsive(laptop){
    $fs4: 4.4rem
}
// font-weight
$fw1: 400; 
$fw2: 500; 
$fw3: 600; 
$fw4: 700; 
//font-family 
$ff1: "Poppins", sans-serif;
$ff2: "Oswald", sans-serif;
