.slide-home{
    background-color: transparent;
    height: 500px;
    width: 100%;
    position: relative;
    // overflow: hidden;
    &__block{
        height: 100%;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 0;
    }
    &__item{
        position: absolute;
        z-index: 3;
        height: 100%;
        width: 100%;  
        display: none;
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0;
        transition: .5s;
        .item-inner{
            position: absolute;
            z-index: 99;
            padding-left: 3rem;
            padding-bottom: 3rem;
            left: 0;
            bottom: 0;
            @include reponsive(laptop){
                max-width: 80%;
            }
            &__text{
                h2{
                    font-family: $ff2;
                    font-weight: $fw4;
                    font-size: $fs4;
                    color: var(--white-color);
                    @include reponsive(laptop){
                        font-size: $fs4 + 1.1;
                        line-height: $fs4 + 1.1;
                    }
                }
                p{
                    font-weight: $fw3;
                    padding-top: 10px;
                    color: var(--white-color);
                }
            }
        }
        .item-ovl {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: var(--black-color);
            opacity: .3;
        }
    }
    &__button{
        position: absolute;
        top: 5%;
        right: 5%;
        z-index: 2;
        @include flexbox(flex,center,center);
    }
    .slide--active{
        display: block;
        animation-name:fade ;
        animation-duration: .5s;
        animation-timing-function: ease;
    }
}